---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import PostList from "@components/PostList.svelte";
import { processPosts } from "src/utils.ts"

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");

  const uniqueYears = [...new Set(allPosts
    .map((post) => new Date(post.data.date).getFullYear())
  )];

  return uniqueYears.map((year) => {
    const filteredPosts = allPosts.filter((post) => new Date(post.data.date).getFullYear() === year);

    return {
      params: { year: String(year) },
      props: { posts: filteredPosts },
    };
  });
}

const { year } = Astro.params;
const { posts } = Astro.props;
const processedPosts = processPosts(posts);
---

<BaseLayout title={year}>
  <h1 class="text-textColor dark:text-textColordark ml-4">{year} ({posts.length})</h1>
  <PostList posts={processedPosts} client:load />
</BaseLayout>