<div class="h-0 my-10 w-full mx-auto border-b border-b-dashed border-gray-300">
</div>
<div
  style=' font-family: "Segoe UI", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";'
  class="flex flex-col justify-center items-center mb-10 bg-bgColor dark:bg-bgColordark pa-8
rounded-lg shadow-md a-300 font-medium text-textColor2 dark:text-textColor2dark"
>
  <div class="my-0.5">
    <span id="blog-year"></span>
    <span class="mx-1">·</span>
    <span class="text-themeColor">Usu171</span>
    <span class="mx-1">·</span>
    <a
      class="text-themeColor no-underline a-300 hover:text-themeColordark"
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en"
      >CC BY-NC-SA 4.0</a
    >
  </div>
  <span class="my-0.5"
    >Powered by <span class="text-themeColor">
      <a class="text-themeColor no-underline transition-colors duration-300 hover:text-themeColordark" href="https://astro.build/"
        >Astro</a
      >
      <a class="text-themeColor no-underline transition-colors duration-300 hover:text-themeColordark" href="https://svelte.dev/"
        >Svelte</a
      >
      <a class="text-themeColor no-underline transition-colors duration-300 hover:text-themeColordark" href="https://unocss.dev/"
        >UnoCSS</a
      >
    </span></span
  >
  <span class="my-0.5"
    >博客已运行<span class="mx-1 text-themeColor" id="blog-duration"
    ></span>天</span
  >
</div>
<div class="lg:hidden h-0 mt-8 w-full border-b border-b-dashed border-gray-300">
</div>